@import "utilities.css";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap");

:root {
	--primary: #3dcfd3;
	--dark: #161616;
	--pure: #ffffff;
	--ternary: #898989;
	--light: #f2f2f2;
}
html{
	scroll-behavior: smooth;
}
body {
	font-family: "Poppins", sans-serif;
}
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	-webkit-font-smotthing: antialiased;
}
header {
	background-color: var(--dark);
	clip-path: polygon(0 0, 100% 0, 100% 100%, 70% 87%, 0 100%);
}

.container {
	max-width: 1152px;
	padding: 0 15px;
	margin: 0 auto;
}

@media (min-width:576px){
	.container{
		max-width: 540px;
	}
}

@media (min-width:768px){
	.container{
		max-width: 720px;
	}
}

@media (min-width:992px){
	.container{
		max-width: 960px;
	}
}

@media (min-width:1200px){
	.container{
		max-width: 1152px;
	}
}

header nav .left a {
	color: var(--pure);
	text-decoration: none;
	margin-right: 2rem;
	text-transform: uppercase;
	transition: all 0.3s ease;
}
header nav .left a:hover {
	color: var(--primary);
}

header nav {
	padding: 2rem 0;
}

header nav .branding {
	margin-right: 3rem;
}
.hero {
	padding: 3rem 0;
}
.hero .left img {
	width: 350px;
	margin-top: -7rem;
}
.hero .right {
	color: var(--pure);
}
.hero .right h6 {
	font-size: 1.6rem;
	color: var(--primary);
	margin-bottom: 0.5rem;
}
.hero .right h1 {
	font-size: 2rem;
	font-weight: 50;
	line-height: 2.6rem;
	margin-bottom: 0.8rem;
}
.hero .right h1 span {
	color: var(--ternary);
}
.hero .right p {
	line-height: 1.5;
	margin-bottom: 2rem;
}
.hero .right {
	margin-top: -6rem;
}
/* adding */
section{
	padding: 5rem 0;
}
section.about .about-me-image {
	height: 350px;
}
section.about h1 {
	margin-bottom: 1rem;
	font-size: 1.6rem;
	font-weight: 400;
}
section.about h1 span {
	color: var(--primary);
}
section.about h3 {
	font-size: 1rem;
	margin-bottom: 1rem;
	font-weight: 400;
}
section.about p {
	font-family: "Lato", sans-serif;
	color: var(--ternary);
	line-height: 1.4;
	margin-bottom: 1rem;
}
section.about .social {
	display: flex;
}
section.about .social a {
	background: var(--dark);
	display: flex;
	align-items: center;
	justify-content: center;
	width: 35px;
	height: 35px;
	border-radius: 50%;
	margin-right: 0.5rem;
	transition: all 0.3s ease;
}
section.about .social a:hover {
	background: var(--primary);
}

section.about .social a img {
	width: 100%;
	height: 100%;
	padding: 0.5rem;
}
/* add new line */

.section-heading {
	color: var(--secondary);
	text-align: center;
	margin-bottom: 1rem;
	line-height: 0.5;
}
.section-heading span {
	color: var(--primary);
}
.section-heading + p {
	color: var(--ternary);
	font-family: "Lato", sans-serif;
	margin-bottom: 8rem;
	text-align: center;
}

/* Skills */
/* .section-heading {
	font-size: 16px;
	font-weight: 500;
	color: var(--pure);
	margin-bottom: 3rem;
	text-shadow: 0 0 1px rgba(40, 54, 95, 0.1);
	position: relative;
}

.section-heading::after{
	content: '';
	height: 3px;
	width: 80px;
	position: absolute;
	top: 28px;
	left: 0;
	border: 2px dotted red;
	justify-content: center;
}
.section.container h1{
	color: var(--ternary);
} */
/* New line add */
section.skills {
	background-color: #1a253f;
}
section.skills .content {
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
}

section.skills .content .left {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

section.skills .content .left .heading {
	margin-bottom: 2rem;
}

section.skills .content .left .heading i {
	color: #7081b9;
	font-size: 52px;
}
section.skills .content .left .heading h5 {
	font-size: 16px;
	margin-top: 0.5rem;
	color: #8997bd;
}
section.skills .content .left p {
	font-size: 14px;
	color: #848db3;
	line-height: 1.7;
}
section.skills .content .left p.center {
	color: #7081b9;
}

section.skills .content .left .item {
	margin-bottom: 2.6rem;
	margin-left: 15px;
	position: relative;
}

section.skills .content .left .timeline__wrapper {
	border-left: 2px dotted #28365f;
}

section.skills .content .left .item:after {
	content: "";
	position: absolute;
	left: 0;
	top: 5px;
	width: 10px;
	height: 10px;
	border: 2px solid #4d79f6;
	border-radius: 50%;
	margin-left: -21px;
}

section.skills .skills__wrapper .skill-box h4 {
	color: #848db3;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 500;
	margin-bottom: 1rem;
}
section.skills .skills__wrapper .skill-box {
	margin-bottom: 4rem;
}

section.skills .skills__wrapper .skill-box .progress__wrap {
	background: #20294a;
	height: 6px;
	width: 100%;
	box-shadow: 0px 0px 1px 0.25px #4d79f6;
	border-radius: 10px;
	border: 2px solid #1a253f;
}
section.skills .skills__wrapper .skill-box .progress__wrap .progress__bar {
	display: block;
	height: 100%;
	background: #4d79f6;
	width: 0;
	position: relative;
	transition: all 1s ease-in-out;
}
section.skills
	.skills__wrapper
	.skill-box
	.progress__wrap
	.progress__bar
	.tooltip {
	position: absolute;
	right: -15px;
	top: -30px;
	margin-bottom: 10px;
	color: #848db3;
	font-size: 16px;
	text-transform: uppercase;
}

/* Project Section */
section.project {
	background: var(--light);
	margin-bottom: 3rem;
}
section.project .card-wrapper {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 2rem;
}
section.project .card-wrapper .card {
	position: relative;
	height: 250px;
}
section.project .card-wrapper .card .overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(61, 207, 211, 0.9);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	color: var(--light);
	opacity: 0;
	transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
}
section.project .card-wrapper .card:hover .overlay {
	opacity: 1;
}

section.porject .card-wrapper .card .overlay a {
	color: var(--secondary);
	text-decoration: none;
}
section.project .card-wrapper .card img {
	height: 100%;
	width: 100%;
}
section.contact .input-wrap {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 2rem;
	margin-bottom: 2rem;
}
section.contact .input-wrap-2 {
	display: flex;
	flex-direction: column;
}
section.contact .input-wrap-2 input {
	margin-bottom: 2rem;
}
section.contact input {
	padding: 0.5rem;
	border: 1px solid var(--light);
	font-size: 0.9rem;
}
section.contact .input-wrap-2 textarea {
	padding: 0.5rem;
	border: 1px solid var(--light);
	font-size: 0.9rem;
}
section.contact .input-wrap-2 textarea:focus,
section.contact input:focus {
	outline: none;
}
section.contact .btn-wrapper {
	text-align: center;
	margin-top: 2rem;
}
/* Contact */
/* section.contact .wrapper {
	display: grid;
	grid-template-columns: 1fr 2fr;
	grid-gap: 60px;
	margin-top: 40px;
	align-items: center;
}

section.contact .wrapper .left > div {
	display: flex;
	align-items: center;
	margin-bottom: 40px;
}

section.contact .wrapper .left > div div:nth-child(1) {
	margin-right: 10px;
}
section.contact .wrapper .left i {
	font-size: 30px;
	color: #4d79f6;
}

section.contact .wrapper .left h4 {
	font-weight: 700;
	font-size: 16px;
	margin-bottom: 5px;
}

section.contact .wrapper .left {
	color: #848db3;
}

section.contact .wrapper .left h4 + span {
	font-weight: 100;
	font-size: 14px;
}

section.contact .wrapper .right .form__group {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 30px;
	align-items: center;
	margin-bottom: 14px;
}

section.contact .wrapper .right .form__group > div {
	display: flex;
	flex-direction: column;
}

section.contact .wrapper .right .form__group > div label {
	color: #848db3;
	margin-bottom: 8px;
}

section.contact .wrapper .right .form__group > div input,
section.contact .wrapper .right .form__group.textarea__wrapper textarea {
	padding: 10px;
	border-radius: 6px;
	background: transparent;
	border: 1px solid #28365f;
	color: #848db3;
	font-size: 15px;
}

section.contact .wrapper .right .form__group > div input:focus,
section.contact .wrapper .right .form__group.textarea__wrapper textarea:focus {
	border-color: #2b55cc;
	outline: none;
}

section.contact .wrapper .right .form__group.textarea__wrapper {
	display: block;
	width: 100%;
}

section.contact .wrapper .right button {
	background: #4d79f6;
	border: none;
	padding: 1rem 2rem;
	color: #eff2f9;
	font-size: 14px;
	border-radius: 6px;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
}

section.contact .wrapper .right button:hover {
	background: #2b55cc;
} */

/* Footer CSS */
footer {
	background: #4070f4;
	padding: 15px 0;
	text-align: center;
	font-family: "Poppins", sans-serif;
}
footer .text span {
	font-size: 17px;
	font-weight: 400;
	color: #fff;
}
footer .text span a {
	font-weight: 500;
	color: #fff;
}
footer .text span a:hover {
	text-decoration: underline;
}

.site-main-wrapper{
	position: relative;
}
.hamberger{
	position: absolute;
	top: 40px;
	right: 40px;
	z-index: 11;
	background: none;
	border: none;
	outline: none;
	cursor: pointer;
	display: none;
}

.hamberger img{
	width: 30px;
}
.mobile-nav{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1001;
	background: var(--light);
	width: 100%;
	height: 100%;
	padding: 2rem;
	padding-top: 5rem;
	transform: translateX(-100%);
	transition: all .5s ease-in-out;
}
.open{
	transform: translateX(0);
}
.times{
	position: fixed;
	top: 30px;
	right: 30px;
	border: none;
	background: none;
	outline: none;
	cursor: pointer;
}
.times img{
	width: 30px;
}
.mobile-nav ul{
	list-style-type: none;
}
.mobile-nav ul li a{
	color: var(--secondary);
	text-decoration: none;
	font-size: 2rem;
}

@media (max-width:1024px){
	header #main-nav{
		display: none;
	}
	.hamberger{
		display: block;
	}
	.hero .left img{
		width: 360px;
	}
	.hero .right h1{
		font-size: 2rem;
	}
	.hero{
		padding-top: 5rem;
	}
	header{
		clip-path: polygon(0 0,100% 0,100% 100%,27% 93%,0 100%);
	}
	section.about .about-me-image{
		height: 350px;
	}
	section.project .card-wrapper{
		grid-template-columns: repeat(2, 1fr);
	}

}

/* @media (max-width:750px) {
	header #main-nav{
		display: none;
	}
	.hero .right{
		margin-top: -6rem;
	}
	section.skills .content{
		display: block;
	}
} */
/* Add some media quaire */

@media (max-width:970px) {
	section.skills .content {
		display: block;
	}
	section.skills .content .left {
		margin-bottom: 5rem;
	}
}

@media (max-width: 576px) {
	.hero {
		flex-direction: column;
	}
	header {
		clip-path: polygon(0 0, 100% 0, 100% 100%, 69% 95%, 0 100%);
	}
	.hero .right {
		position: absolute;
		top: 250px;
		padding: 0 1rem;
		background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9));
	}
	.hero .left {
		margin-top: -5rem;
		margin-right: -9rem;
		padding-bottom: 4rem;
	}
	.about-inner-wrap {
		flex-direction: column;
	}
	.about .right {
		text-align: center;
		margin-top: 1rem;
	}
	.about .right .social {
		justify-content: center;
	}
	section {
		padding: 4rem 0;
	}
	/* .section-heading + p {
		margin-bottom: 3rem;
	} */
	section.work .card-wrapper {
		grid-template-columns: repeat(1, 1fr);
	}
	section.contact .input-wrap {
		grid-template-columns: repeat(1, 1fr);
	}
}